<!doctype html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <%- include('menu') %>
    <section class="section main">
        <div class="container">
            <div class="row">
                <%- include('aside') %>
                <article class="col-xs-9">
                    <h1>Tìm kiếm</h1>
                    <div class="row">
                        <%- include('grid') %>
                    </div>
                </article>
                <%- include('pagination') %>
            </div>
        </div>
    </section>
</body>
</html>